*, 
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #EEF3F6;
    font-family: sans-serif;
}

section {
    border: 1px solid rgba(0, 0, 255, 0.459);
    padding: 1rem;
}

input {
    background: #fff;
    border:none;
    box-shadow: 1px 1px 2px #0000002d;
    border-radius: 10px;
    height: 2.5rem;
    width: 100%;
    margin: 0.3rem 0 1rem 0;
}

.cv, .editor {
    border: 1px solid rgba(0, 128, 0, 0.452);
}

.editor {
    h2 {
        text-align: center;
    }

    .data-editors {
        overflow: hidden;
    }

    .data-editor-section[data-active="true"] .data-editors {
        max-height: fit-content;
    }

    .data-editor-section[data-active="false"] .data-editors {
        max-height: 0;
    }

    .data-inputs {
        margin-top: 1rem;
        overflow: hidden;
    }

    .data-editor[data-active="true"] .data-inputs {
        max-height: fit-content;
    }

    .data-editor[data-active="false"] .data-inputs {
        max-height: 0;
    }
}

.cv {
    display: grid;
    grid-template-columns: 33% auto;

    h2 {
        font-size: 1rem;
    }

    span {
        display: block;
        overflow-wrap: break-word;
    }

    header {
        background: #36383E;
        width: 100%;
        color: #fff;
        min-height: 7rem;
        grid-column: 1 / 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }

    .cv-aside {
        background: #EEE8E3;
        min-height: 30rem;
        padding: 5px;
        font-size: 0.8rem;
    }
}

.playground {
    background: burlywood;
}
