/* montserrat-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('../../fonts/montserrat-v26-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/montserrat-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../../fonts/montserrat-v26-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../../fonts/montserrat-v26-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../../fonts/montserrat-v26-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

$font-stack: 'Montserrat', sans-serif;

$header-background-light: #484b54;
$header-background-dark: #36383E;

$background-primary-light: #EFF4F7;
$background-secondary-light: #FFFFFF;
$color-primary-light: #000000e8;
$color-secondary-light: #00000096;
$color-tertiary-light: #0000006c;
$box-shadow-light: 1px 1px 5px rgba(0, 0, 0, 0.3);

$background-primary-dark: #1E2029;
$background-secondary-dark: #454051;
$color-primary-dark: #ffffffd0;
$color-secondary-dark: #ffffffbd;
$color-tertiary-dark: #ffffff96;
$box-shadow-dark: 1px 1px 2px rgba(255, 255, 255, 0.3);

$data-incomplete-light: #fdd7d7;
$data-incomplete-dark: #7d596c;
$hover-background-light: #ffffffa4;
$hover-background-dark: #4e485d;

*, 
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-stack;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    &[data-theme="light"] {
        background: #fff;

        --bg-header: #{$header-background-light};
        --bg-primary: #{$background-primary-light};
        --bg-secondary: #{$background-secondary-light};
        --color-primary: #{$color-primary-light};
        --color-secondary: #{$color-secondary-light};
        --color-tertiary: #{$color-tertiary-light};
        --box-shadow: #{$box-shadow-light};
        --data-incomplete: #{$data-incomplete-light};
        --hover-bg: #{$hover-background-light};
    }

    &[data-theme="dark"] {
        background: #514c5b;

        --bg-header: #{$header-background-dark};
        --bg-primary: #{$background-primary-dark};
        --bg-secondary: #{$background-secondary-dark};
        --color-primary: #{$color-primary-dark};
        --color-secondary: #{$color-secondary-dark};
        --color-tertiary: #{$color-tertiary-dark};
        --box-shadow: #{$box-shadow-dark};
        --data-incomplete: #{$data-incomplete-dark};
        --hover-bg: #{$hover-background-dark};
    }
}

%input {
    background: var(--bg-secondary);
    color: var(--color-primary);
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    height: 2.5rem;
    width: 100%;
    margin: 0.3rem 0 1rem 0;
    font-size: 14px;
    padding: 0 10px;
    transition: border 0.3s ease;
}

%data-expand-button {
    width: 100%;
    height: 3rem;
    background: var(--bg-secondary);
    border-radius: 10px;
    padding: 10px;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
        background: var(--hover-bg);
    }
}

%expand-icon {
    width: 35px;
    transition: transform 0.3s ease;
    margin-left: auto;

    &[data-active="true"] {
        transform: rotate(90deg);
    }

    path {
        stroke: var(--color-primary);
    }
}

button {
    font-family: $font-stack;
    cursor: pointer;
    font-weight: 500;
}

header {
    background: var(--bg-header);
    position: fixed;
    width: 100%;
    min-height: 4rem;
    left: 0;
    top: 0;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 1rem;
    box-shadow: var(--box-shadow);
    z-index: 2;

    #customize-btn {
        margin-right: auto;
        background: none;
        border: none;

        svg {
            width: 30px;
        }
    }

    #load-sample-btn {
        padding: 5px;
    }

    #theme-btn {
        background: none;
        height: fit-content;
        border: none;
        margin-left: 1rem;
    }
}

.side-bar {
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    transition: left 0.5s ease-in-out;
    z-index: 1;

    &[data-active="false"] {
        left: -110%;
    }

    &[data-active="true"] {
        left: 0;
    }

    .customize-bar {
        width: 280px;
        min-height: 100vh;
        background: burlywood;

        section.layout-options {
            button {
                margin-top: 70px;
                height: 30px;
    
                &[data-active="true"] {
                    border: 1px solid #000;
                }
            }
        }

        section.theme-options {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            button {
                width: 50px;
                height: 50px;
                display: flex;
                border-radius: 10px;
                border: none;
                overflow: hidden;

                &[data-active="true"] {
                    border: 1px solid #000;
                }

                div {
                    width: 50%;
                    height: 100%;
                }
            }

            button:nth-child(1) {
                div:first-child { background: hsl(225deg 6.9% 22.75%); }
                div:nth-child(2) { background: hsl(27deg 24.44% 91.18%); }
            }

            button:nth-child(2) {
                div:first-child { background: hsl(265deg 6.9% 22.75%); }
                div:nth-child(2) { background: hsl(67deg 24.44% 91.18%); }
            }

            button:nth-child(3) {
                div:first-child { background: hsl(305deg 6.9% 22.75%); }
                div:nth-child(2) { background: hsl(107deg 24.44% 91.18%); }
            }

            button:nth-child(4) {
                div:first-child { background: hsl(345deg 6.9% 22.75%); }
                div:nth-child(2) { background: hsl(147deg 24.44% 91.18%); }
            }

            button:nth-child(5) {
                div:first-child { background: hsl(27deg 6.9% 22.75%); }
                div:nth-child(2) { background: hsl(187deg 24.44% 91.18%); }
            }

            button:nth-child(6) {
                div:first-child { background: hsl(67deg 6.9% 22.75%); }
                div:nth-child(2) { background: hsl(227deg 24.44% 91.18%); }
            }

            button:nth-child(7) {
                div:first-child { background: hsl(107deg 6.9% 22.75%); }
                div:nth-child(2) { background: hsl(267deg 24.44% 91.18%); }
            }

            button:nth-child(8) {
                div:first-child { background: hsl(147deg 6.9% 22.75%); }
                div:nth-child(2) { background: hsl(307deg 24.44% 91.18%); }
            }

            button:nth-child(9) {
                div:first-child { background: hsl(187deg 6.9% 22.75%); }
                div:nth-child(2) { background: hsl(347deg 24.44% 91.18%); }
            }
        }
    }
}

.editor {
    padding: 1rem;
    background: var(--bg-primary);
    transition: background-color 0.3s ease;
    margin-top: 3rem;
    box-shadow: var(--box-shadow);

    & > div {
        margin-top: 1.5rem;
    }

    h2 {
        text-align: center;
        font-size: 20px;
        margin-top: 2.5rem;
        font-weight: 600;
        color: var(--color-primary);
    }

    h3 {
        font-weight: 600;
        color: var(--color-primary);
    }

    h4 {
        font-weight: 500;
        font-size: 15px;
    }

    .data-editor-section {
        margin-top: 15px;
        box-shadow: var(--box-shadow);
        border-radius: 10px;

        & > .data-expand-btn {
            @extend %data-expand-button;

            .section-icon {
                width: 25px;
                height: 25px;
                margin-right: 0.5rem;
            }

            #icon-1,
            #icon-2,
            #icon-3,
            #icon-4,
            #icon-5,
            #icon-6 {
                path { stroke: var(--color-tertiary); }
            }
            
            #icon-2 { stroke: var(--color-tertiary); }
            #icon-5 {circle { fill: var(--color-tertiary); }}
            #icon-7 {path { fill: var(--color-tertiary); }}
            #icon-8 { fill: var(--color-tertiary); }

            h3 {
                text-align: left;
            }

            .expand-icon {
                @extend %expand-icon;
            }
        }

        .data-editors {
            overflow: hidden;
            transition: max-height 0.5s ease-out;
            padding: 0 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &[data-active="true"] .data-editors {
            max-height: calc(2500px);
        }

        &[data-active="false"] .data-editors {
            max-height: 0;
        }

        .add-data-btn {
            margin: 15px auto;
            min-width: 10rem;
            padding: 0.5rem 0;
            border-radius: 20px;
            border: 1px solid #000;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 7px;

            svg {
                width: 20px;
            }
        }
    }

    .data-editor {
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
        margin-top: 15px;
        border-radius: 15px;

        .data-expand-btn {
            @extend %data-expand-button;
            justify-content: space-between;
            color: var(--color-primary);

            .expand-icon {
                @extend %expand-icon;
                width: 28px;
            }
        }

        .data-inputs {
            padding: 0 10px;
            overflow: hidden;
            transition: max-height 0.5s ease-out;

            .input-row {
                margin-top: 15px;
            }

            label {
                color: var(--color-primary);
            }

            input {
                @extend %input;
                &:focus {
                    border: 2px solid var(--bg-header);
                }
            }

            textarea {
                @extend %input;
                height: 9rem;
                font-family: $font-stack;

                &:focus {
                    border: 2px solid var(--bg-header);
                }
            }

            .data-buttons {
                display: flex;
                justify-content: right;
                margin-bottom: 15px;
                gap: 0.5rem;

                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 2.2rem;
                    width: 5rem;

                    svg {
                        width: 25px;
                        height: 25px;
                    }
                }
            }

            .end-date-input {
                display: grid;
                grid-template-columns: auto auto;
                column-gap: 1rem;

                label {
                    grid-column: 1/3;
                }

                input {
                    margin: 2px 0;
                }

                button {
                    height: 100%;
                    border-radius: 10px;
                    border: none;
                    box-shadow: var(--box-shadow);
                    padding: 0 5px;
                }
            }
        }

        &[data-active="true"] .data-inputs {
            max-height: 800px;
        }

        &[data-active="false"] .data-inputs {
            max-height: 0;
        }

        &[data-complete="false"] .data-expand-btn{
            background: var(--data-incomplete);
        }

        span.alert-incomplete {
            font-size: 15px;
            color: red;
            display: inline-block;
            transform: translate(1rem, -2px);
        }
    }

    .single-data-editor {
        box-shadow: none;
    }

    #data-editor-image {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-top: 2rem;

        label {
            border: 1px solid var(--color-secondary);
            padding: 0.5rem 1rem;
            border-radius: 15px;
            cursor: pointer;
        }

        .image-container {
            position: relative;

            .image-wrapper {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                overflow: hidden;
                background: #d5d5d5;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            #remove-image-btn {
                background: none;
                border: none;
                position: absolute;
                top: -10px;
                right: -30px;

                svg {
                    width: 30px;
                    height: 30px;
                }
            }
        }

        .data-inputs {
            .input-row {
                margin-bottom: 2rem;

                input {
                    display: none;
                }
            }
        }
    }

    #data-editor-skills {
        ul {
            list-style-type: none;
            padding: 0 10px;
            margin-bottom: 1rem;

            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background: var(--bg-secondary);
                padding: 5px 10px;
                margin-top: 0.6rem;
                box-shadow: var(--box-shadow);
                color: var(--color-primary);

                button svg {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}

.cv {
    --cv-h1: 19px;
    --cv-h2: 12px;
    --cv-h3: 0.7rem;
    --cv-h4: 0.7rem;
    --cv-h5: 0.6rem;
    --cv-span: 0.7rem;
    --cv-p: 0.7rem;

    display: grid;
    align-content: flex-start;
    width: min(90vw, 800px);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    margin: 2rem 0;
    color: $color-primary-light;

    &[data-layout="0"] {
        grid-template-columns: 33% auto;
        .cv-aside { grid-area: 2 / 1 / 3 / 2; }
        .cv-main { grid-area: 2 / 2 / 3 / 3; }
    }

    &[data-layout="1"] {
        grid-template-columns: auto 33%;
        .cv-aside { grid-area: 2 / 2 / 3 / 3; }
        .cv-main { grid-area: 2 / 1 / 3 / 2; }
    }

    &[data-theme="0"] {
        .cv-header { background: hsl(225deg 6.9% 22.75%); }
        .cv-aside { background: hsl(27deg 24.44% 91.18%); }
    }

    &[data-theme="1"] {
        .cv-header { background: hsl(265deg 6.9% 22.75%); }
        .cv-aside { background: hsl(67deg 24.44% 91.18%); }
    }

    &[data-theme="2"] {
        .cv-header { background: hsl(305deg 6.9% 22.75%); }
        .cv-aside { background: hsl(107deg 24.44% 91.18%); }
    }

    &[data-theme="3"] {
        .cv-header { background: hsl(345deg 6.9% 22.75%); }
        .cv-aside { background: hsl(147deg 24.44% 91.18%); }
    }

    &[data-theme="4"] {
        .cv-header { background: hsl(27deg 6.9% 22.75%); }
        .cv-aside { background: hsl(187deg 24.44% 91.18%); }
    }

    &[data-theme="5"] {
        .cv-header { background: hsl(67deg 6.9% 22.75%); }
        .cv-aside { background: hsl(227deg 24.44% 91.18%); }
    }

    &[data-theme="6"] {
        .cv-header { background: hsl(107deg 6.9% 22.75%); }
        .cv-aside { background: hsl(267deg 24.44% 91.18%); }
    }

    &[data-theme="7"] {
        .cv-header { background: hsl(147deg 6.9% 22.75%); }
        .cv-aside { background: hsl(307deg 24.44% 91.18%); }
    }

    &[data-theme="8"] {
        .cv-header { background: hsl(187deg 6.9% 22.75%); }
        .cv-aside { background: hsl(347deg 24.44% 91.18%); }
    }

    section {
        margin-top: 2rem;
    }

    h1 {
        font-size: var(--cv-h1);
        font-weight: 500;
    }

    h2 {
        font-size: var(--cv-h2);
        font-weight: 600;
    }

    h3 {
        font-size: var(--cv-h3);
        font-weight: 600;
    }

    h4 {
        font-size: var(--cv-h4);
        font-weight: 500;
    }

    p {
        font-size: var(--cv-p);
    }

    span {
        font-size: var(--cv-span);
        display: inline-block;
    }

    .cv-header {
        background: #36383E;
        width: 100%;
        color: #fff;
        height: 6rem;
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        display: flex;
        align-items: center;
        justify-content: left;
        padding: 2rem;
        gap: 1.5rem;

        .img-container {
            width: 75px;
            height: 75px;
            border-radius: 50%;
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        section {
            margin: 0;
            
            h1 {
                margin-bottom: 5px;
            }
        }

        span {
            color: $color-secondary-dark;
        }
    }

    .cv-aside {
        background: #EEE8E3;
        min-height: 930px;
        padding: 10px;

        h2 {
            margin-bottom: 0.5rem;
        }

        #cv-contact {
            margin-top: 1rem;

            div.contact-row {
                display: flex;
                align-items: center;
                gap: 10px;
                margin-top: 10px;

                .contact-icon {
                    min-width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #36383E;

                    svg {
                        width: 12px;
                        height: 12px;
                    }
                }

                span {
                    display: block;
                }
            }

            .contact-row.email {
                word-break: break-all;
            }

            .contact-row.address .contact-icon {
                align-self: flex-start;
            }
        }

        #cv-education {
            display: grid;
            grid-template-columns: auto auto;
            column-gap: 10px;

            h2 {
                grid-column: 1 / 3 ;
            }

            h3 {
                margin-bottom: 5px;
            }

            .line-column {
                height: 100%;
                width: 2px;
                background: #36383E;
            }
        }

        #cv-skills {
            margin-bottom: 12px;
        }
    }

    .cv-main {
        padding: 0 1.5rem 1.5rem 1.5rem;
        height: 100%;
        background: #fff;

        .line-row {
            width: 100%;
            height: 2px;
            background: #36383E;
            margin-bottom: 12px;
        }

        .cv-data {
            margin-bottom: 12px;
        }

        h5 {
            font-size: var(--cv-h5);
            font-weight: 400;
            color: #00000096;
        }

        p {
            padding-left: 1rem;
            margin-top: 5px;
        }
    }
}

#remove-data-modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: min(90vw, 400px);
    padding: 1rem;
    background: var(--bg-primary);
    color: var(--color-primary);
    border: none;
    border-radius: 10px;

    &::backdrop {
        background: rgba(0, 0, 0, 0.6);
    }

    h2 {
        margin-bottom: 1rem;
    }

    p {
        margin-bottom: 1rem;
    }

    .dialog-buttons {
        width: fit-content;
        margin-left: auto;

        button {
            height: 2.2rem;
            width: 5rem;
            margin-left: 12px;
            font-family: $font-stack;
            font-weight: 500;
            cursor: pointer;
            border: 1px solid #000;
            border-radius: 5px;
        }

        .dialog-delete-btn {
            background: #fdd7d7;
        }
    }
}

@media screen and (min-width: 575px) {
    header {
        padding: 0 2rem;
    }

    .cv {
        --cv-h1: 25px;
        --cv-h2: 14px;
        --cv-h3: 12px;
        --cv-h4: 12px;
        --cv-h5: 10px;
        --cv-span: 11px;
        --cv-p: 11px;

        .cv-header {
            height: 8rem;
            padding: 3rem;
            gap: 2.7rem;
        }

        .cv-main .cv-data {
            margin-bottom: 15px;
        }
    }
}

@media screen and (min-width: 768px) {
    .cv {
        --cv-h1: 32px;
        --cv-h2: 18px;
        --cv-h3: 16px;
        --cv-h4: 15px;
        --cv-h5: 12px;
        --cv-span: 13px;
        --cv-p: 13px;

        .cv-header {
            height: 9rem;
            padding: 5rem;
            gap: 3.4rem;

            .img-container {
                width: 95px;
                height: 95px;
            }
        }

        .cv-aside {
            padding: 15px;

            section {
                margin-top: 2.5rem;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    #app {
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        padding: 6rem 0 3rem 0;

        & > * {
            margin: 0;
        }
    }

    header {
        height: 4.2rem;
    }

    .editor {
        padding-bottom: 3rem;
        min-height: 1090px;
    }
}

@media screen and (min-width: 1300px) {
    header {
        padding: 0 3rem;
    }

    .editor {
        padding: 0 1.5rem 3rem 1.5rem;
    }

    .cv {
        --cv-h1: 36px;
        --cv-h2: 23px;
        --cv-h3: 18px;
        --cv-h4: 16px;
        --cv-h5: 12px;
        --cv-span: 16px;
        --cv-p: 16px;

        .cv-aside {
            padding: 3rem 25px;

            #cv-contact {
                margin: 0;

                div.contact-row .contact-icon {
                    min-width: 25px;
                    height: 25px;

                    svg {
                        width: 15px;
                        height: 15px;
                    }
                }

                span {
                    font-size: 14px;
                }
            }

            #cv-skills .skills-data {
                margin-bottom: 10px;
            }
        }

        .cv-main {
            padding: 3rem 1.5rem;

            #cv-summary {
                margin: 0;
            }

            .cv-data {
                margin-bottom: 25px;
            }

            h5 {
                margin-top: 5px;
            }

            p {
                margin-top: 12px;
            }
        }
    }
}
